---
import Layout from "../layouts/Layout.astro";

const showWip = false;
---

<Layout
  description="About page"
  title="About - Undefined Rabbit"
  showWip={showWip}
>

  dodać vaporwave rpg miniaturki etc
  <section class="text-center">
    Welcome to the world of <strong>Undefined Rabbit</strong>! I’m Zoe Zając, <br
    />
    a passionate software engineer with a curiosity that rivals that of a cat's.<br
    />
    I thrive on exploring new technologies, frameworks, and programming languages
    <br />
    — each discovery brings me immense joy. Outside of my professional realm, <br
    />
    you’ll frequently catch me engrossed in launching fresh projects or staying <br
    />
    updated on the latest tech developments, almost as if I’m chasing the <br />
    elusive white rabbit (though all my bunnies happen to be black). <br />
  </section>
</Layout>
