---
import ColorScheme from "../components/ColorScheme.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Color Scheme" description="colorscheme">
  <div class="flex flex-row items-center h-screen">
    <ColorScheme />
  </div>
</Layout>
