---
import Layout from "../layouts/Layout.astro";
const twtContact = false;
---

<Layout title="Contact - Undefined Rabbit" description="Contact page.">
  <div class="h-card flex flex-col p-14 mt-5">
    <div class="flex flex-row gap-1 items-center">
      <span class="p-name text-lg">Zoe Zając</span>
      &lt <span class="p-nickname text-lg">undefinedrabbit</span> &gt
    </div>
    <a class="u-url link" href="https://undefinedrabb.it">undefinedastrorabbit@gmail.com</a>
    <a class="u-url link" href="https://undefinedrabb.it">undefinedrabb.it</a>
    <a class="u-url link" href="https://github.com/undefinedrabb-it/" rel="me">
      github.com/undefinedrabb-it
    </a>
    {
      twtContact && (
        <a class="u-url link" href="https://twitter.com/u7drabbit" rel="me">
          twitter.com/u7drabbit
        </a>
      )
    }
    {
      /*
    <span class="p-note">Right now iam experimenting with indieweb</span>
     */
    }
  </div>
</Layout>
