---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Undefined Rabbit" description="Personal page.">
  <body>
    <p>Henlo! welcome to me page. There is currently work in progress.</p>
    <ul>
      <li>
        <a href="https://github.com/undefinedrabb-it/" rel="me"
          >@undefinedrabb-it</a
        > on Github
      </li>
    </ul>
  </body>
</Layout>
