---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Undefined Rabbit" description="Personal page.">
  <h1 class="mt-10">
    Henlo! welcome to me page. There is currently work in progress.
  </h1>
</Layout>
