---
import '../styles/base.css';
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code" />
    <title>{title}</title>
  </head>
  <body class="bg-ffd-1 text-ffd-15 flex flex-col items-center justify-center h-screen">
    <slot />
  </body>
</html>
<style is:global>
  
  html {
    font-family: 'Fira Code', sans-serif;
  }
</style>
