---
import Nav from "../components/Nav.astro";
import Wip from "../components/Wip.astro";
import "../styles/base.css";

export interface Props {
  title: string;
  description: string;
  showWip?: boolean;
}

const { title, description, showWip } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Code"
    />
    <title>{title}</title>
  </head>
  <body class="bodyGrid bg-ffd-1 text-ffd-15 h-screen">
    <Nav class="navGrid" />
    <main class="mainGrid flex flex-col items-center justify-center gap-1">
      {showWip ? <Wip /> : <slot />}
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: "Fira Code", sans-serif;
  }
  .bodyGrid {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: fit-content(15%) auto;
    grid-template-areas:
      "nav"
      "main";
    height: 100vh;
  }
  .mainGrid {
    grid-area: main;
  }

  .navGrid {
    grid-area: nav;
  }
</style>
